<!DOCTYPE HTML>
<html>
<head>
    <title>Food rating Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<body>
<div class="container">
    <h1>Error detected</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Error Url</th>
            <th>Exception</th>
        </tr>
        </thead>
        <tbody>
        <tr class="danger">
            <td th:text="${Exception.message">Error Url</td>
            <td th:text="${authority.Name}">Exception</td>
        </tr>
        </tbody>
    </table>
    <p><a href="/authorities">Home</a></p>

</div>


</body>
</html>