<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Food rating Search</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href='/webjars/bootstrap/3.3.6/css/bootstrap.min.css' rel='stylesheet' media='screen'/>

    <script src="/webjars/jquery/2.1.4/jquery.min.js"></script>
    <script src="/webjars/bootstrap/3.3.6/js/bootstrap.min.js"></script>

</head>
<body>
<div class="container">
    <div class="jumbotron">
        <h1>Food Hygiene Rating Service</h1>
        <p class="lead">Select authority from the drop down list to view food hygiene profile for the locality</p>
    </div>
    <div id="search">
        <form style="display:inline-block" th:action="@{/authorities}" th:object="${authorities}" method="get">

            <div class="dropdown" th:if="${authorities}">
                <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Authorities
                    <span class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li th:each="authority : ${authorities}">
                        <a th:href="${url}+${authority.getLocalAuthorityId()}" th:text="${authority.getName()}"></a>
                    </li>
                </ul>
                <button th:if="${ratings}" type="submit" class="btn btn-primary">Clear</button>
            </div>
        </form>
    </div>

    <div id="results" th:if="${ratings}"> <!-- if customer is anonymous-->
        <h3>Local authority details</h3>
        <table class="table">
            <thead>
            <tr>
                <th>Local Authority Id</th>
                <th>Authority Name</th>
                <th>Region Name</th>
            </tr>
            </thead>
            <tbody>
            <tr class="success" th:if="${authority}">
                <td th:text="${authority.LocalAuthorityId}">Local Authority Id</td>
                <td th:text="${authority.Name}">Name</td>
                <td th:text="${authority.RegionName}">Region Name</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <table class="table" id="result">
            <thead>
            <tr>
                <th>Rating</th>
                <th>Percentage</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rating : ${ratings}" class="success">
                <td th:text="${rating.rating}">Rating</td>
                <td th:text="${rating}">Percentage</td>
            </tr>
          </tbody>
        </table>
    </div>
</div>

</body>
</html>